<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Say Welcome</title>
     <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
<div class="source">
<video width="500" height="250" autoplay muted>
  <source src="{{url_for('static', filename='video.mp4')}}" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>

<form action="welcome" method="post">
    {%for message in get_flashed_messages()%}
    <p>{{message}}</p>
    {% endfor %}
    <br>
    <input type="text" name="name_input">
    <br>
    <input type="submit" value="WELCOME" id="welcome">
</form>
</body>
</html>